body{
    margin: 0;
}

.container{
    margin-top: 17px;
    margin-left: 250px;
}

.header-line{
    display: flex;
    
}

.esc{
    font-family: 'Lora';
    font-size: 26px;
    margin-top: 3px;
    margin-bottom: 11px;
    color: #2E2E2E;
    
    

}
.navigation{
    margin-left: 563px;
    margin-top: 17px;
}

.buttons{
    text-decoration: none;
    font-family: 'Oxygen';
    margin-right: 20px;
    margin-top: 10px;
    color: #2E2E2E;
    font-size: 12px;
    letter-spacing: 0.6px;


}





.container2{
    margin-left: 250px;
    margin-top: 163px;
    width: 940px;
    height: 159px;
    
}
.road{
    margin-top: 7px;
    margin-left: 300px;
    font-size: 50px;
    font-family: 'Lora';
    letter-spacing: 2px;

}

.pod{
    margin-top: 7px;
    margin-left: 318px;
    font-size: 12px;
    font-family: 'Oxygen';
    letter-spacing: 2px;
    fill: #2E2E2E;
    
}

img{
    margin-top: 38px;
    height: 534px;
    width: 1500px;
    
}

.text{
    margin-top: 140px;
    margin-left: 250px;
    margin-right: 240px;
    font-size: 24px;
    font-family: 'Oxygen';
    line-height: 35px;
    margin-bottom: 50px;
}


.footer{
    background-image: url(f.jpg);
    margin-top: 135px;
    height: 89px;
    width: 1440px;
     

}
.footer-line{
    display: flex;
    align-items: center;
}


.container3{
    margin-top: 48px;
    margin-left: 240px;
    
}

.esc2{
    font-family: 'Lora';
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
    margin-right: 678px;
    

}

.navigation2{
    margin-top: 25px;


}

.buttons2{
    text-decoration: none;
    font-family: 'Oxygen';
    letter-spacing: 1px;
    margin-right: 20px;
    margin-top: 10px;
    color: rgba(256, 256, 256, 0.6);
    font-size: 11px;


}